---
Language: Cpp
BasedOnStyle: LLVM

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCaseColons: false
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BreakBeforeBraces: Linux
ContinuationIndentWidth: 3
IndentCaseLabels: true
IndentWidth: 3
PointerAlignment: Left
# Mark the VG_(), ML_() and tool macros as type declarations which they are
# sufficiently close to, otherwise clang-format gets confused by them.
TypenameMacros: [VG_, ML_, CLG_, DRD_, HG_, MC_]
...
